@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(198deg, rgba(28,209,224,1) 10%, rgba(205,104,213,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fundo{
    position: absolute;
}
.main{
    display: flex;
    align-items: center;
    gap: 20px;
}
.div-img{
    position: absolute;
    transform: translate(-70%,-40%);

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 120px;
    height: 120px;
}
#namePoke{
    position: absolute;
    transform: translate(-60%,610%);

    width: 350px;
    height: 50px;

    padding: 25px;
    border: none;
    outline: none;
    
    color: black;
    font-size: larger;
    background: none;

}
.info{
    position: absolute;
    transform: translate(-34%,270%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    
    font-family: 'Ubuntu', sans-serif;
}
.arrows{
    position: absolute;
    transform: translate(-34%,270%);
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
}
.IDpoke{
    font-size: x-large;
    color: rgb(65, 65, 65);
   
}
.nomePoke{
    
    color: rgb(0, 0, 0);
    
}