@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(198deg, rgba(28,209,224,1) 10%, rgba(205,104,213,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fundo{
    position: absolute;
}
.main{
    display: flex;
    align-items: center;
    gap: 20px;
}
.div-img{
    position: absolute;
    transform: translate(-70%,-40%);

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 120px;
    height: 120px;
}
#namePoke{
    position: absolute;
    transform: translate(-60%,530%);

    width: 350px;
    height: 50px;

    padding: 25px;
    border: none;
    outline: none;
    
    color: black;
    font-size: larger;
    background: none;

}
.info{
    position: absolute;
    transform: translate(-34%,270%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    
    font-family: 'Ubuntu', sans-serif;
}
.arrows{
    position: absolute;
    transform: translate(-58%,560%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:7px;

}

.arrows button{


    margin: 10px;
    width: 160px;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}
.ImgsTypes{
    position: absolute;
    transform: translate(-60%,300%);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 10px;
    

}

.IDpoke{
    font-size: x-large;
    color: rgb(65, 65, 65);
   
}
.nomePoke{
    
    color: rgb(0, 0, 0);
    
}